@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22D4DF;
    --fonte-primaria: 'Krona One';
    --fonte-secundaria: 'Montserrat'
}

html, body{
    height: 100%;
}

body{
    flex-direction: column;
    display: flex;
    background-color: var(--cor-primaria);
}

main{
    flex: 1
}

header{
    display: flex;
    gap: 20px
}

.imgAlura{
    height: 550px;
    width: 488px;
    float: right
}

h1{
    color: var(--cor-secundaria);
    padding-left: 300px;
    margin-top: 235px;
}

.textSpecial{
    color: var(--cor-terciaria)
}

.textDescricao{
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    margin-top: 40px;
    padding-left: 300px;
}

section{
    padding-top: 40px;
    padding-left: 250px;
}

.textRedesSociais{
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    padding-left: 355px;
    padding-top: 30px;
}

nav a{
    color: var(--cor-terciaria);
    text-decoration: none;
    font-size: 1.5rem;
    padding: 50px;
}

nav a:hover{
    color: var(--cor-terciaria);
}

.imgGit{
    padding: 10px
}

.textIcone{
    font-family: var(--fonte-secundaria);
    color: var(--cor-secundaria);
    padding: 0 0 0 10px;
    align-items: center;
    
}

footer{
    background-color: var(--cor-terciaria);
    text-align: center;
    height: 80px;
}

.textFooter{
    text-align: center;
    margin: 30px;
    padding-right: auto;
    font-family: var(--fonte-secundaria);
    color: var(--cor-primaria)
}