@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

body{
    flex-direction: column;
    display: flex;
}

main{
    flex: 1;
}

nav a{
    text-decoration: none;
    color: #22D4FD;
    font-family: 'Montserrat';
    margin-left:  30px;
}

footer{
    font-family: 'Montserrat';
    background-color: #22D4FD;
    height: 80px;
    width: 1920px;
    text-align: center;
}

.textFooter{
    text-align: center;
    margin-top: 40px;
}