@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body{
    background-color: #000;
    overflow: hidden;
}

main::after{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 80vh;
    background: linear-gradient(92deg, #000 25%, rgba(0, 0, 0, 0) 75%) no-repeat;
}

main .personagem{
    display: none;
    height: 100vh;
}

main .personagem.selecionado{
    display: block;
}

main .personagem .imagem{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.conteudo{
    position: absolute;
    top: 0;
    left: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    max-width: 380px;
    z-index: 1;
}

.nomePersonagem{
    color: #fff;
    font-size: 48px;
    font-family: 'Secular One', sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
}

.conteudo .descricao {
    color: #fff;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    line-height: 24px;
}

.botoes{
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    right: 0;
    width: 180px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.botoes .botao{
    border: none;
    background-color: #000; 
    width: 90px;
    height: 90px;
    cursor: pointer;
    transition: transform 0.3s ease;
    border-radius: 50%;
}

.botoes .botao img{
    border-radius: 50%;
}

.botoes .botao.selecionado{
    transform: scale(1.2);
    box-shadow: 0px 0px 10px 3px #47ffc5;
}

.botoes .botao.codepixie.selecionado{
    box-shadow: 0px 0px 10px 3px #9747ff;
}

.botoes .botao.hexblade.selecionado{
    box-shadow: 0px 0px 10px 3px #ffa947;
}

.botoes .botao.neonpulse.selecionado{
    box-shadow: 0px 0px 10px 3px #e4309a;
}

.botoes .botao.codebreaker.selecionado{
    box-shadow: 0px 0px 10px 3px #fff047;
}