html{
    scroll-behavior: smooth;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
    color: #fff;
    cursor: default;
}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
    top: 0%;
    width: 100%;
    padding: 20px 8%;
    background-color: #050505;
    border-bottom: 2px solid #00ff88;
}

.logo{
    font-size: 30px;
    font-weight: bold;
}

.logo span{
    color: #00ff88;
}

.menu ul{
    display: flex;
    gap: 30px;
    list-style-type: none;
}

.menu a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

.menu a:hover{
    color: #00ff88;
}

.hero{
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.8)), url(../src/hero.avif);
    background-size: cover;
    background-position: center;
    align-items: center;
    display: flex;
    padding: 120px 8%;
}

.hero-conteudo{
    max-width: 650px;
}

.hero h1{
    font-size: 56px;
    margin-bottom: 20px;
}

.hero p{
    font-size: 20px;
    margin-bottom: 30px;
    color: #ddd
}

.botao{
    display: inline-block;
    background-color: #00ff88;
    color: #000;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: 600;
    border-radius: 50px;
    transition: 0.5s;
}

.botao:hover{
    background-color: #fff;
    transform: scale(1.1);
}

section{
    padding: 80px 8%;
}

section h2{
    font-size: 36px;
    text-align: center;
    margin-bottom: 15px;
    color: #ccc;
}

.beneficios{
    display: flex;
    gap: 30px;
}

.beneficio{
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
}

.beneficio{
    background-color: #111;
    padding: 30px;
    border-radius: 15px;
    border: 1px solid #222;
    width: 100%;
    transition: 0.3s;
}

.beneficio:hover{
    transform: translateY(-8px);
    border-color: #00ff88;
}

.beneficio h3{
    color: #00ff88;
}

.beneficio p{
    color: #ccc;
    line-height: 1.6;
}