*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero{
    width: 100%;
}

.hero img{
    width: 100%;
    height: 500px;
}

.cards{
    width: 100%;
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-bottom: 50px;
}

.card{
    transition: 0.3s;
}

.card:hover{
    transform: translateY(-5px);
}

.card img{
    height: 200px;
    width: 200px;
}

.card p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}