@import url("./variables.css"); 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho{
    display: flex;
    background-color: var(--verde-escuro);
    align-items: center;
}

.loginHeader div{
    display: flex;
    justify-content: end;
}