*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    background-color: #2e2e2e;
}

/* cabeçalho e menu de navegação */
.cabecalho{
    background-color: #000;
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    position: fixed ;
    z-index: 1000;
}

.logo{  
    color: #fff;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

span{
    color: #ffd900;
}

.nav{
    display: flex;
    gap: 50px;
    margin-right: 50px;
    align-items: center;
}

.menuNav{
    display: flex;
    gap: 30px;
    font-size: 25px;
}

.menuNav a{
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

.menuNav a:hover, .item.selecionado{
    color: #ffd900;
    border: 2px solid #ffd900;
    padding: 10px;
    border-radius: 10px;
}

.botaoNav{
    background-color: #ffd900;
    display: flex;
    width: 120px;
    height: 50px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    transition: 0.3s;
    color: #000;
    border-radius: 10px;
}

.botaoNav:hover, .botaoHero:hover{
    background-color: #f1d326;
}

/* home/hero */
#home{
    background-image: url(assets/hero.png);
    height: 600px;
    width: 100%;
    background-size: cover;
    background-position-y: -300px;
    background-repeat: no-repeat;
}

.hero{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2));
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 20px;
}

.tituloHero{
    width: 400px;
    margin-left: 50px;
    color: #fff;
    font-size: 50px;
}

.tituloHero span{
    color: #ffd900;
}

.textoHero{
    color: #fff;
    font-size: 30px;
    margin-left: 50px;
}

.botaoHero{
    background-color: #ffd900;
    display: flex;
    width: 220px;
    height: 50px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    transition: 0.3s;
    color: #000;
    border-radius: 10px;
    margin-left: 50px;
}

.beneficios{
    display: flex;
    width: 100%;
    gap: 50px;
    justify-content: space-around;
    margin-top: 20px;
}

.beneficio{
    display: flex;
    gap: 10px;
    font-size: 30px;
    align-items: center;
    color: #fff;
}

.beneficio img{
    width: 50px;
}

/* sobre */
#sobre{
    margin-top: 150px;
    color: #fff;
    height: 500px;
    display: flex;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(assets/hero.png);
    background-size: 800px 500px;
    background-repeat: no-repeat;
    background-position: right;
}

.conteudo{
    width: 350px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* .imgFundo, .imgFundo img{
    position: absolute;
    z-index: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
} */