form{
    max-width: 600px;
    margin: auto;
    flex-direction: column;
    display: flex;
}

label{
    display: block;
    margin: 20px 0 5px;
    font-size: 1.2rem;
}

input{
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* formatação checkbox */
input[type="checkbox"],
input[type="radio"]{
    width: auto;
    margin-right: 10px;
}