html{
    scroll-behavior: smooth;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
    color: #fff
}

.menu{
    width: 100%;
    background-color: #000009;
    display: flex;
    position: fixed;
    z-index: 1000;
    top: 0%
}

.menu nav{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    gap: 30px;
    border-bottom: 2px solid #da2424;
}

.menu a{
    text-decoration: none;
    color: #fff;
    transition: 0.2s;
}

.menu a:hover{
    transform: translateY(-5px);
}

.home:hover{
    color: #da2424;
}

.shukaku:hover{
    color: #f5bf1f;
}

.matatabi:hover{
    color: #111eca;
}

.isobu:hover{
    color: #dd4792;
}

.son-goku:hover{
    color: #ff0000;
}

.kokuo:hover{
    color: #beb4b4;
}

.saiken:hover{
    color: #c4a1a1;
}

.choumei:hover{
    color: #54b413;
}

.gyuki:hover{
    color: #965e6a;
}

.kurama:hover{
    color: #ff7300;
}

.logo{
    display: flex;
    flex-direction: column;
    font-size: 30px;   
}

.logo span{
    color: #da2424;
}

/* parte carrossel */
.slider{
    margin: 0 auto;
    width: 100%;
    height: 900px;
    padding: 0 !important;
    overflow: hidden;
    margin-bottom: 20px;
}

.slide-content{
    width: 400%;
    height: auto;
    display: flex;
}

.slide-content input{
    display: none;
}

.slide-box{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 0.3s;
}

.slide-box img{
    width: 100%;
    height: 1100px;
}

.nav-manual, .nav-auto{
    position: absolute;
    width: 100%;
    margin-top: 45%;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid #ff0000;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.nav-manual .manual-btn:hover{
    background-color: #ff0000;
}

#radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3{
    background-color: #ff0000;
}

#radio1:checked ~ .primeiro{
    margin-left: 0%;
}

#radio2:checked ~ .primeiro{
    margin-left: -25%;
    margin-right: 25%;
}

#radio3:checked ~ .primeiro{
    margin-left: -50%;
    margin-right: 50%;
}


/* corpo do site */

.todas-bijuu{
    display: flex;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)), url(../src/todas-bijuus.jpg);
    background-size: cover;
    background-position: center;
    align-items: center;
    margin-bottom: 50px;
}

.shukaku-section{
    display: flex;
    min-height: 100vh;
    background: linear-gradient(to right,rgba(0, 0, 0, 50), rgba(0, 0, 0, 0.1)), url(../src/gaara-shukaku.jpg), no-repeat;
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 50px;
}

.matatabi-section{
    display: flex;
    min-height: 100vh;
    background: linear-gradient(to right,rgba(0, 0, 0, 50), rgba(0, 0, 0, 0.1)), url(../src/yugito-matatabi.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 50px;
}

.isobu-section{
    display: flex;
    min-height: 100vh;
    background: linear-gradient(to right,rgba(0, 0, 0, 50), rgba(0, 0, 0, 0.1)), url(../src/yagura-isobu.jpeg), no-repeat;
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 50px;
}

.sonGoku-section{
    display: flex;
    min-height: 100vh;
    background: linear-gradient(to right,rgba(0, 0, 0, 50), rgba(0, 0, 0, 0.1)), url(../src/roshi-sonGoku.jpeg), no-repeat;
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 50px;
}

.kokuo-section{
    display: flex;
    min-height: 100vh;
    background: linear-gradient(to right,rgba(0, 0, 0, 50), rgba(0, 0, 0, 0.1)), url(../src/han-kokuo.jpg), no-repeat;
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 50px;
}

.saiken-section{
    display: flex;
    min-height: 100vh;
    background: linear-gradient(to right,rgba(0, 0, 0, 50), rgba(0, 0, 0, 0.1)), url(../src/utakata-saiken.jpg), no-repeat;
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 50px;
}

.choumei-section{
    display: flex;
    min-height: 100vh;
    background: linear-gradient(to right,rgba(0, 0, 0, 50), rgba(0, 0, 0, 0.1)), url(../src/fuu-chomei.jpg), no-repeat;
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 50px;
}

.gyuki-section{
    display: flex;
    min-height: 100vh;
    background: linear-gradient(to right,rgba(0, 0, 0, 50), rgba(0, 0, 0, 0.1)), url(../src/killerBee-gyuky.jpg), no-repeat;
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 50px;
}

.kurama-section{
    display: flex;
    min-height: 100vh;
    background: linear-gradient(to right,rgba(0, 0, 0, 50), rgba(0, 0, 0, 0.1)), url(../src/naruto-kurama.jpg), no-repeat;
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 50px;
}

.div-conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    max-width: 100vh;
    text-align: left;
}