*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0D47A1;
}

.sectionUsuario{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #fff;
    align-items: center;
    margin-bottom: 50px;
}

.imgUsuario{
    width: 200px;
    height: 200px;
    border: 5px solid #fff;
    border-radius: 50%;
}

img{
    height: 50px;
    width: 50px;
}

.cards{
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 50px;
}

.card{
    width: 225px;
    height: 171px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover{
    transform: translateY(-5px);
}

.botaoMais{
    width: 70px;
    height: 30px;
    border: 1px solid #ccc;
    color: #1976D2;
    background-color: #fff;
    transition: 0.3s;
}

.botaoMais:hover{
    background-color: #1976D2;
    color: #fff;
}

.grafico{
    border-bottom: 5px solid #FF5252;
}

.web{
    border-bottom: 5px solid #42A5F5;
}

.prog{
    border-bottom: 5px solid #66BB6A;
}

.app{
    border-bottom: 5px solid #FFA726;
}

.rodape{
    background-color: #0B3C91;
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.textRodape{
    margin-top: 20px;
}

.botaoRodape{
    width: 200px;
    height: 40px;
    border: 3px solid #fff;
    color: #fff;
    background-color: #0B3C91;
    margin-bottom: 20px;
    transition: 0.3s;
}

.botaoRodape:hover{
    background-color: #FFA726;
    border-color: #0D47A1;
}