:root{
    --cor-primaria: #ffffff;
    --cor-secundaria: #f9f9f9;
    --fonte-primaria: 'Inter'
}

*{
    margin: 0;
    padding: 0;;
}

body{
    background-color: black;
    flex-direction: column;
    display: flex;
}

.containerPrincipal{
    flex-direction: column;
    display: flex;
    margin-left: 53px;
    margin-top: -300px;
}

.containerCombo{
    margin-top: -600px;
    width: 588px;
    align-items: center;
}

.containerTitulo{
    color: var(--cor-primaria);
    font-family: var(--fonte-primaria);
    font-size: 1.75rem;
    font-weight: 400;
}

.containerBotao{
    flex-direction: column;
    display: flex;
    align-items: center;
}

.containerBack{
    width: 1440px;
    height: 680px;
    margin-top: 300px;
}