@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --cor-background: #00030c;
    --cor-primaria: #ffffff;
    --cor-secundaria: #f9f9f9;
    --botao-azul: #167bf7;
    --efeito-botao: #3c92fa;
    --fonte-primaria: 'Inter', sans-serif;
    --fonte-size-principal: 16px;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--cor-background);
    flex-direction: column;
    display: flex;
    color: var(--cor-primaria)
}
.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 50% 50%;
}

.containerPrincipal{
    background-image: url(../assets/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

/*
.containerPrincipal{
    display: grid;
    margin-left: 53px;
    margin-top: -300px;
    height: 100vh;
}*/

.containerCombo{
    margin: 50px;
    width: 588px;
    align-items: center;
}

.containerTitulo{
    font-family: var(--fonte-primaria);
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 1.4em;
    max-width: 20em;
}

.containerBotao{
    flex-direction: column;
    display: flex;
    text-align: center;
    font-family: var(--fonte-primaria);
    gap: 20px;
}

.botaoAzul{
    text-decoration: none;
    padding: 20px;
    background-color: var(--botao-azul);
    color: var(--cor-primaria);
    border: 0px solid;
    border-radius: 8px;
}

.botaoTransp{
    text-decoration: none;
    padding: 20px;
    background-color: transparent;
    border-color: var(--cor-primaria);
    color: var(--cor-primaria);
    border: 1px solid;
    border-radius: 8px;
}

.botaoAzul:hover{
    background-color: var(--efeito-botao);
}

.botaoTransp:hover{
    background-color: #2c2c2c;
}

.containerSecundario{
    padding-bottom: 200px;
}

.containerPlataformas{
    flex-direction: row;
    display: flex;
    margin-left: 300px;
}

.imgPlataformas{
    height: 560px;
    width: 488px;
}

.containerPlataformasText{
    font-family: var(--fonte-primaria);
    text-align: left;
    align-content: center;
    margin-left: 100px;
    max-width: 35em;
}

.tituloPlataformas{
    font-size: 48px;
}

.textPlataformas{
    font-size: 16px;
    font-weight: 100;
}

.containerTerciario{
    padding-bottom: 200px;
}

.containerTelas{
    flex-direction: row;
    display: flex;
    margin-left: 300px;
}

.textTelas{
    flex-direction: column;
    display: flex;
    align-self: center;
    font-size: 16px;
    font-family: var(--fonte-primaria);
    text-align: left;
    max-width: 35em;
    margin-right: 100px;
    font-weight: 100;
    gap: 10px
}

.botaoTelas{
    border: 0px solid;
    background-color: var(--botao-azul);
    border-radius: 8px;
    padding: 15px;
    width: 25%;
    text-decoration: none;
    font-weight: 400;
    color:var(--cor-primaria)
}