@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --azul: #0B3F69;
    --fonte: "Inter", sans-serif;
    --botaoDourado: #D4AA5B;
    --sobra: 0.5px 0.5px 20px 1px #cccccc;
}

html{
    scroll-behavior: smooth;
}

.cabecalho{
    background-color: #fff;
    display: flex;
    width: 100%;
    gap: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    position: fixed;
    z-index: 1000;
}

.logo{
    display: flex;
    gap: 20px;
}

.imgLogo{
    background-color: var(--azul);
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
}

.navegacao a{
    text-decoration: none;
    font-family: var(--fonte);
    color: var(--azul);
}

.linksNav{
    display: flex;
    list-style: none;
    gap: 20px;
}

.telefone{
    width: 200px;
    height: 58px;   
    font-family: var(--fonte);
    color: var(--azul);
    display: grid;
    grid-template-columns: 15% 70%;
    align-items: center;
    justify-content: center;
    box-shadow: 0.5px 0.5px 20px 1px #cccccc;
    border-radius: 50px;
    transition: 0.3s;
}

.telefone:hover{
    background-color: #dedede;
}

#home{
    background-color: #0b3f69f1;
    height: 1180px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.corpoHome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 170px;
    gap: 30px;
}

.barraHome{
    display: flex;
    width: 1200px;
    height: 50px;
    background-color: #ffffff33;
    border-radius: 50px;
    gap: 10px;
    align-items: center;
    color: #fff;
    font-family: var(--fonte);
    font-size: 15px;
}

.barraHome img{
    width: 20px;
    margin-left: 20px;
    height: 20px;
}

.tituloHome{
    font-size: 55px;
    width: 1200px;
    text-align: left;
    color: #fff;
}

.tituloHome h1{
    width: 1100px;
}

.tituloHome span{
    color: var(--azul);
}

.conteudoHome{
    color: #fff;
    font-family: var(--fonte);
    font-size: 16px;
    width: 1200px;
    text-align: left;
}

.conteudoHome p{
    width: 650px;
}

.botoes{
    width: 1200px;
    display: flex;
    gap: 50px;
}

.botaoDourado, .botaoConsulta{
    font-family: var(--fonte);
    width: 230px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    border-radius: 50px;
}

.botaoDourado span, .botaoConsulta span{
    font-size: 30px;
}

.botaoDourado{
    background-color: var(--botaoDourado);
}

.botaoConsulta{
    color: #fff;
    background-color: #ffffff33;
}

.tabela{
    font-family: var(--fonte);
    width: 1200px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    color: #fff;
    gap: 50px;
}

.dados{
    display: flex;
    flex-direction: column;
    background-color: #ffffff33;
    align-items: center;
    justify-content: center;
    width: 390px;
    height: 150px;
    font-size: 20px;
    border-radius: 15px;
}

.numero{
    font-size: 70px;
    margin-bottom: 5px;
}

.rolar{
    font-family: var(--fonte);
    color: #fff;
}

#sobre{
    display: flex;
    flex-direction: column;
    height: 800px;
}

.tituloSobre{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--fonte);
    color: var(--azul);
    margin-top: 50px;
}

.paginaSobre{
    font-size: 14px;
}

.temaSobre{
    font-size: 50px;
}

.textoSobre{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.imagemSobre{
    background-image: url(assets/Image\ \(Escritório\ de\ Advocacia\).png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 600px;
    height: 400px;
    display: flex;
    align-items: end;
    border-radius: 20px;
}

.infoImg{
    display: flex;
    background-color: #fff;
    width: 250px;
    height: 60px;
    font-size: 23px;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    gap: 5px;
}

.infoImg img{
    width: 30px;
    height: 30px;
}

.tituloConteudoSobre{
    margin-bottom: 30px;
}

.textoConteudoSobre{
    font-size: 20px;
    width: 600px;
    margin-bottom: 20px;
}

.topico{
    font-family: var(--fonte);
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 30px;
}

.imgTopico, .imgCard, .icone{
    padding: 20px;
    background-color: #cccccc;
    border-radius: 10px;
}

.textoTopico{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#areas{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tituloAreas, .tituloEquipe{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--fonte);
    color: var(--azul);
    margin-top: 50px;
}

.paginaAreas, .paginaEquipe{
    font-size: 14px;
}

.temaAreas, .temaEquipe{
    font-size: 50px;
}

.subtituloAreas, .subtituloEquipe{
    text-align: center;
    margin-bottom: 50px;
}

.cards{
    display: flex;
    gap: 60px;
    margin-bottom: 60px;
}

.card{
    width: 330px;
    height: 300px;
    box-shadow: 0.5px 0.5px 20px 1px #cccccc;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
}

.card img{
    width: 60px;
    height: 60px;
}

.card a{
    text-decoration: none;
}

.cardsProfissionais{
    width: 100%;
    display: flex;
    gap: 50px;
    justify-content: center;
}

.cardProfissional{
    height: 500px;
    width: 370px;
    box-shadow: 0.5px 0.5px 20px 1px #cccccc;
    border-radius: 10px;
}

.imgProfissional1{
    background-image: url(assets/Image\ \(Dr.\ Carlos\ Mendes\).png);
    background-repeat: no-repeat;
    height: 320px;
    width: 370px;
    display: flex;
    justify-content: end;
    align-items: end;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.imgProfissional2{
    background-image: url(assets/Image\ \(Dra.\ Ana\ Silva\).png);
    background-repeat: no-repeat;
    height: 320px;
    width: 370px;
    display: flex;
    justify-content: end;
    align-items: end;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.imgProfissional3{
    background-image: url(assets/Image\ \(Dr.\ Rafael\ Oliveira\).png);
    background-repeat: no-repeat;
    height: 320px;
    width: 370px;
    display: flex;
    justify-content: end;
    align-items: end;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.infoProfissional{
    display: flex;
    gap: 10px;
    padding: 10px;
}

.infoProfissional div{
    padding: 20px;
    background-color: #fff;
    border-radius: 50%;
}

.conteudoProfissional{
    width: 360px;
    height: 130px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 10px;
}

#depoimentos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comentarios{
    box-shadow: var(--sobra);
    width: 1200px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    border-radius: 20px;
    align-items: center;
    margin-bottom: 50px;
}

.comentario{
    border-radius: 20px;
    margin-top: 50px;
    padding: 30px;
    width: 1100px;
    display: flex;
    flex-direction: column;
    box-shadow: var(--sobra);
    gap: 10px;
}

.feedback{
    color: #6c6c6c;
}

.usuario{
    display: flex;
    gap: 20px;
}

.userName{
    font-weight: 600;
}

.navBarFeed{
    display: flex;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.navBarFeed p{
    padding: 20px;
    border-radius: 100%;
    box-shadow: var(--sobra);
}

.informacoesContato{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.cardContato{
    display: flex;
    gap: 10px;
    box-shadow: var(--sobra);
    width: 420px;
    padding: 20px;
    border-radius: 20px;
}

.cardContato h3{
    font-weight: 600;
}

.icone{
    height: 60px;
}

.conteudoContato{
    display: flex;
    flex-direction: column;
    gap: 10px;
}