*{
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
}

.background{
    display: grid;
    justify-content: center;
    margin-top: 200px;
}

.numeros{
    width: 500px;
    justify-items: center;
    background-color: blue;
}

.botao-numeros{
    width: 500px;
}

.um-tres{
    display: flex;
    justify-content: center;
}

.quatro-seis{
    display: flex;
    justify-content: center;
}

.sete-nove{
    display: flex;
    justify-content: center;
}

p{
    font-size: 30px;
    padding: 20px;
}