*{
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
}

.light-bg{
    background-color: #ffffff;
}

.dark-bg{
    background-color: #000000;
}

.background{
    display: grid;
    justify-content: center;
    margin-top: 200px;
}

.visor{
    background-color: greenyellow;
    text-align: center;
    width: 480px;
    margin-top: 40px;
    padding: 10px;
}

.numeros{
    background-color:grey;
    margin-bottom: 200px;
    width: 600px;
    height: 600px;
    justify-items: center;
    border-radius: 15px;
    box-shadow: 12px 12px rgb(236, 236, 236);
}

.botao-numeros{
    width: 500px;
}

.zero-sinal{
    display: flex;
    justify-content: center;
}

.um-tres{
    display: flex;
    justify-content: center;
}

.quatro-seis{
    display: flex;
    justify-content: center;
}

.sete-nove{
    display: flex;
    justify-content: center;
}

p{
    font-size: 30px;
    padding: 20px;
}

button{
    width: 400px;
    text-align: center;
    background-color: white;
}

img{
    height: 40px;
    width: 40px;
}