body{
    background-color: black;
}

section{
    width: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
}

#bntA, #bntP{
    font-size: 20px;
}

#linkA{
    position: absolute;
}

#linkP{
    display: flex;
    justify-self: end;
    position: absolute;
}

.carrossel{
    display: flex;
    /* width: 1200%; */
    width: 800%;
    /* width: 300%; */
    margin: auto;
}

.semana{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

.selecionado{
    color: #000;
    background-color: #ff9d00;
}

a{
    text-decoration: none;
}

input{
    font-size: 20px;
    color: #ff9d00;
    background-color: #000;
    border-radius: 20px;
    border: 2px solid #FFA726;
    transition: 0.3s;
}

input:hover{
    background-color: #ccc;
    color: #000;
    border-color: #ccc;
}