section{
    width: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
}

#linkA{
    position: absolute;
}

#linkP{
    display: flex;
    justify-self: end;
    position: absolute;
}

.carrossel{
    display: flex;
    width: 400%;
    margin: auto;
}

.semana{
    display: flex;
    justify-content: center;
    width: 100%;
}

/* .semana1{
    margin: auto;
}

.semana2{
    margin: auto;
}

.semana3{
    margin: auto;
}

.semana4{
    margin: auto;
} */