*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
}

.menu-botoes{
    display: flex;
    justify-content: end;
    z-index: 1000;
    background-color: #ccc;
    width: 100px;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
}

.botoes{
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 12px;
}

.botao{
    width: 60px;
    height: 60px;
    background-color: transparent;
    border-radius: 50%;
    border: none;
    transition: 0.3s;
}

.botoes img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.shukaku.selecionado{
    box-shadow: 0px 0px 10px 3px #f5bf1f;
}

.matatabi.selecionado{
    box-shadow: 0px 0px 10px 3px #f5bf1f;
}

.isobu.selecionado{
    box-shadow: 0px 0px 10px 3px #f5bf1f;
}

.sonGoku.selecionado{
    box-shadow: 0px 0px 10px 3px #f5bf1f;
}

.kokuo.selecionado{
    box-shadow: 0px 0px 10px 3px #f5bf1f;
}

.saiken.selecionado{
    box-shadow: 0px 0px 10px 3px #f5bf1f;
}

.chomei.selecionado{
    box-shadow: 0px 0px 10px 3px #f5bf1f;
}

.gyuuki.selecionado{
    box-shadow: 0px 0px 10px 3px #f5bf1f;
}

.kurama.selecionado{
    box-shadow: 0px 0px 10px 3px #f5bf1f;
}