*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
}

.personagem{
    display: none;
}

.personagem.selecionado{
    display: block;
}

.menu-botoes{
    display: flex;
    justify-content: end;
    z-index: 1000;
    background-color: #0000007e;
    width: 100px;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
}

.botoes{
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 12px;
}

.botao{
    width: 60px;
    height: 60px;
    background-color: transparent;
    border-radius: 50%;
    border: none;
    transition: 0.3s;
}

.botoes img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.botao.shukaku.selecionado{
    box-shadow: 0px 0px 10px 10px #f5bf1f;
}

.botao.matatabi.selecionado{
    box-shadow: 0px 0px 10px 10px #111eca;
}

.botao.isobu.selecionado{
    box-shadow: 0px 0px 10px 10px #dd4792;
}

.botao.sonGoku.selecionado{
    box-shadow: 0px 0px 10px 10px #ff0000;
}

.botao.kokuo.selecionado{
    box-shadow: 0px 0px 10px 10px #beb4b4;
}

.botao.saiken.selecionado{
    box-shadow: 0px 0px 10px 10px #c4a1a1;
}

.botao.chomei.selecionado{
    box-shadow: 0px 0px 10px 10px #54b413;
}

.botao.gyuuki.selecionado{
    box-shadow: 0px 0px 10px 10px #965e6a;
}

.botao.kurama.selecionado{
    box-shadow: 0px 0px 10px 10px #ff7300;
}