html{
    scroll-behavior: smooth;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
    color: #fff
}

.menu{
    width: 100%;
    background-color: #000009;
    display: flex;
    position: fixed;
    z-index: 1000;
    top: 0%
}

.menu nav{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    gap: 30px;
    border-bottom: 2px solid #da2424;
}

.menu a{
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

.menu a:hover{
    transform: translateY(-5px);
}

.home:hover{
    color: #da2424;
}

.shukaku:hover{
    color: #f5bf1f;
}

.matatabi:hover{
    color: #111eca;
}

.isobu:hover{
    color: #dd4792;
}

.son-goku:hover{
    color: #ff0000;
}

.kokuo:hover{
    color: #beb4b4;
}

.saiken:hover{
    color: #c4a1a1;
}

.choumei:hover{
    color: #54b413;
}

.gyuki:hover{
    color: #965e6a;
}

.kurama:hover{
    color: #ff7300;
}

.logo{
    display: flex;
    flex-direction: column;
    font-size: 30px;   
}

.logo span{
    color: #da2424;
}

.todas-bijuu{
    display: flex;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)), url(../src/todas-bijuus.jpg);
    background-size: cover;
    background-position: center;
    align-items: center;
    margin-bottom: 50px;
}

.shukaku-section{
    display: flex;
    min-height: 100vh;
    background: linear-gradient(to right,rgba(0, 0, 0, 50), rgba(0, 0, 0, 0.1)), url(../src/gaara-shukaku.jpg), no-repeat;
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 50px;
}

.matatabi-section{
    display: flex;
    min-height: 100vh;
    background: linear-gradient(to right,rgba(0, 0, 0, 50), rgba(0, 0, 0, 0.1)), url(../src/yugito-matatabi.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 50px;
}

.isobu-section{
    display: flex;
    min-height: 100vh;
    background: linear-gradient(to right,rgba(0, 0, 0, 50), rgba(0, 0, 0, 0.1)), url(../src/yagura-isobu.jpeg), no-repeat;
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 50px;
}

.sonGoku-section{
    display: flex;
    min-height: 100vh;
    background: linear-gradient(to right,rgba(0, 0, 0, 50), rgba(0, 0, 0, 0.1)), url(../src/roshi-sonGoku.jpeg), no-repeat;
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 50px;
}

.kokuo-section{
    display: flex;
    min-height: 100vh;
    background: linear-gradient(to right,rgba(0, 0, 0, 50), rgba(0, 0, 0, 0.1)), url(../src/han-kokuo.jpg), no-repeat;
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 50px;
}

.saiken-section{
    display: flex;
    min-height: 100vh;
    background: linear-gradient(to right,rgba(0, 0, 0, 50), rgba(0, 0, 0, 0.1)), url(../src/utakata-saiken.jpg), no-repeat;
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 50px;
}

.choumei-section{
    display: flex;
    min-height: 100vh;
    background: linear-gradient(to right,rgba(0, 0, 0, 50), rgba(0, 0, 0, 0.1)), url(../src/fuu-chomei.jpg), no-repeat;
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 50px;
}

.gyuki-section{
    display: flex;
    min-height: 100vh;
    background: linear-gradient(to right,rgba(0, 0, 0, 50), rgba(0, 0, 0, 0.1)), url(../src/killerBee-gyuky.jpg), no-repeat;
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 50px;
}

.kurama-section{
    display: flex;
    min-height: 100vh;
    background: linear-gradient(to right,rgba(0, 0, 0, 50), rgba(0, 0, 0, 0.1)), url(../src/naruto-kurama.jpg), no-repeat;
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 50px;
}

.div-conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    max-width: 100vh;
    text-align: left;
}