body{
    background: #7790ff;
    font: normal 15pt Arial;
}

header{
    color: #ffffff;
    text-align: center;
}

section{
    background: #ffffff;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px #868686;
    text-align: center;
}

img{
    height: 250px;
    width: 250px;
    border-radius: 100%;
}

footer{
    color: #ffffff; 
    text-align: center;
    font-style: italic;
}